<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-4 py-3 title">
      Node Machine Test
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 py-2 sidebar">
      <div class="px-4 py-3 mt-2 links" routerLink="/categories" routerLinkActive="active">Categories</div>
      <div class="px-4 py-3 links" routerLink="/products" routerLinkActive="active">Products</div>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>